.inventory-all{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    width: 1200px;
    margin-left: 80px;
    margin-bottom: 50px;
   
   
}
.inventory h1{
    font-size: 35px;
    margin-left: 10px;
    
}
.inventory h3{
    font-size: 25px;
    opacity: 80%;
    margin-bottom: 35px;
    
}
.inventory h1, h3{
    margin: 10px;
}
@media screen and (max-width : 576px) {
    .inventory-all{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        
        
       
       
    }
}